# Python
__pycache__/
*.pyc

# Environments
.env
.venv/

# Data
train/
test/
temp/
outputs/

# Qdrant local storage (large binary files, rebuild locally)
qdrant_data/
local_qdrant/collection/


# Models / embeddings
*.pt
*.bin
*.faiss

# Logs
*.log

# IDE
.vscode/
.idea/